* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-basic-raleway: 'Raleway', sans-serif;
    --font-secondary-sans: 'Open Sans', sans-serif;
    --basic-color-white: #FFFFFF;
    --basic-color-black: #000000;
    --color-red: #D50000;
    --color-grey-light: #D3D3D3;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: rgb(155, 125, 183);
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 100px;
}

 /* <header class="header"> */

.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    background-color: rgb(183, 45, 45);
}

.logo {
    font-family: var(--font-basic-raleway);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
}

.nav-link {
    font-family: var(--font-basic-raleway);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
    position: relative;
    margin-left: 60px;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    visibility: hidden;
    background-color: var(--basic-color-black);
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
}


.nav-link:hover:after,
.nav-link:focus::after {
    visibility: visible;
} 

.img-info-basket {
    margin-left: 26px;
}

/* <main class="main">*/

.main {
    background-color: rgb(13, 69, 97);
    height: 976px;   
    display: flex;
}


/* <section class="left"> */
.left {
    width: 1210px;
    background-color: rgb(18, 237, 87);
    /* height: 976px; */
}

.left-top {
    margin-top: 160px;
    margin-bottom: 200px;
}

h1 {
    font-family: var(--font-secondary-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.36;
    color: var(--basic-color-black);
    margin: 0;
}

p {
    font-family: var(--font-basic-raleway);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
    margin: 40px 0;
}

.button {
    font-family: var(--font-secondary-sans);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    color: var(--basic-color-white);
    background-color: var(--basic-color-black);
    padding: 9px 38px;
    border: none;
}

/* <div class="left-bottom"> */

.left-bottom {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

/* .card {
    background-color: var(--basic-color-white);
} */

.card {
    background-color: rgb(214, 18, 103);
    width: 260px;
    position: relative;
}

.catalog-img {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 0;
}

.new-praic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    background-color: rgb(84, 78, 78);
    position: absolute;
    top: 20px;
    left: 20px;       
}

.new {
    font-family: var(--font-basic-raleway);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.18;
    color: var(--color-red);
}

.praic {
    font-family: var(--font-secondary-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
    color: var(--basic-color-black);

}

.btn-left {
    width: 100px;
    height: 30px;
    border: 1px solid var(--basic-color-black);
}
.simvol-minus,
.simvol-plus {
    color: var(--basic-color-black);
    display: block;
    width: 10.5px;
    height: 10.5px;
}

.catalog-one {
    font-family: var(--font-secondary-sans);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
    color: var(--basic-color-black);
}


/* <section class="right"> */
.right {
    width: 510px;
    background-color: rgb(32, 6, 6);
    /* height: 976px; */
}



/* <section class="social"> */
.social {
    width: 200px;
    background-color: rgb(173, 210, 10);
    /* height: 976px; */
}