/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */ 
/* #D3D3D3; */
/* #000000 */
/* #FFFFFF */
/* #D50000 */

:root {
    --font-basic: 'Raleway', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --basic-color-white: #FFFFFF;
    --basic-color-black: #000000;
    --color-red: #D50000;
    --color-grey-light: #D3D3D3;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--color-grey-light);
    margin: 40px 100px; 
    box-sizing: border-box;
    max-width: 1920px;
    position: relative;
}

/* <header class="header"> */
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: var(--font-basic);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
}

.nav-link {
    position: relative;
    font-family: var(--font-basic);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
    margin-right: 60px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: var(--basic-color-black);
    visibility: hidden;
}

.nav-link:hover,
.nav-link:focus {
    font-weight: 700;
}
     
.nav-link:hover::after,
.nav-link:focus::after {
    visibility: visible;
} 

.img-info-basket {
    margin-left: 26px;
}
/* <main> */
/* <section class="main-left"> */

.main {
    display: flex;
}

h1 {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 95px;
    color: var(--basic-color-black);
    margin-top: 236px;
    margin-bottom: 40px;
}

.main-left-text {
    font-family: var(--font-basic);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: var(--basic-color-black);
    margin: 0;
}

.button {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    color: var(--basic-color-white);
    background-color: var(--basic-color-black);
    padding: 7px 36px;
    margin-top: 40px;
    margin-bottom: 200px;
}

/* <div class="catalog"> */
.catalog {
    width: 860px;
    display: flex;
    justify-content: space-between;
}

.catalog-card {
    background: var(--basic-color-white);
    width: 260px;
    height: 300px;
    position: relative;
}

.catalog-new-praic{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;    
}

.catalog-new {
    font-family: var(--font-basic);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--color-red);
    margin-bottom: 176px;
    z-index: 10;
}

.catalog-praic {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
    color: var(--basic-color-black);
    z-index: 10;
    margin-bottom: 10px;
}

.catalog-img {
    position: absolute;
    top: 39px;
    bottom: 61px;
    left: 60px;
}

.catalog-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.catalog-button-praic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 30px;
}

.simvol-minus,
.simvol-plus {
    display: block;
    width: 20.5px;
}



.catalog-one {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;    
    color: #000000;
    /* margin-left: 25px;
    margin-right: 25px; */
}


 



.catalog-basket {
    font-family: var(--font-basic);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--basic-color-white);
    background-color: var(--basic-color-black);
    padding: 5px 12px;
}

/* <section class="main-right"> */

.main-right {
    width: 510px;
    height: 812px; 
}

/* .catalog-praic-big {

} */
.card-big {
    width: 510px;
    height: 812px;
    padding-left: 115px;
    margin-top: 134px;
}

.big-img {
    margin-bottom: 40px;
}

.button-button-big {
    display: flex;
    margin-top: 10px;    
}



.button-big {
    /* padding: 0 18px; */
    width: 130px;
}



.right-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    padding: 4px 16px;
    color: var(--basic-color-white);
    background: var(--basic-color-black);
    margin-left: 40px;
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1855px;
    top: 466px;
    
}

a[aria-label="instagram"] {
    margin: 42px 0;
}


    
